 <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-uppercase"> <!-- the code for the start of my nav bar -->
    <a class = "waves-effect waves-light btn btn-right" href = "/signout"></a> 
    <img src= "assets/logo.png" class ="logo-nav" >
    {{!-- <a class="navbar-brand" href="/">Health Bud</a> <!-- referencing the home page base --> --}}
    <button type="button" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
      data-toggle="collapse" data-target="#mobileMenu">
      <i class="fas fa-bars"></i>
    </button>
 <div class="collapse navbar-collapse" id="mobileMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/calender">Calender</a> <!-- the first nav link within my nav bar and its reference point -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Guidance</a> <!-- the second nav link within my nav bar and its reference point -->
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a> <!-- the second nav link within my nav bar and its reference point -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Log Out</a> <!-- the last nav link within my nav bar and its reference point -->
        </li>
      </ul>
    </div>
  </nav>
  </nav>

   <input type="checkbox" id = "check">
  <label for = "check">
    <i class = "fas fa-bars" id="btn"></i>
    <i class = "fas fa-times" id="cancel"></i>
  </label>
  <div class ="sidebar">
    <header> Guidance </header>
    <ul>
      <li><a href = "/anxiety" >Anxiety</a>
      <li><a href = "/panic" >Panic Attacks</a>
        <li><a href = "/depression" >Depression</a>
          <li><a href = "/bipolar" >Bipolar Disorder</a>
          <li><a href = "/eating" >Eating Disorder</a>
</div>


<h1 class = "bipolartitle"> Bipolar Disorder</h1>
    <div class = "row"> 
    <div class = "col-md-2"></div>
    <div class ="col-md-8 col-xs-12 bipolar">
    <div class = "row">
    <div class = "col-xs-12">
    <img src = "assets/bipolar.png" class="img-bipolar" class ="img-responsive">
    </div>
    </div>
    <div class = "row">
    <div class = "col-6 column-bipolar">
     <h2 >What is Bipolar Disorder?</h2>
    <h4 > Bipolar Disorder is a mental health issue which affects your daily mood. It's where you switch from 1 extreme mood to another for no
      real reason. </h4>
</div>
 <div class = "col-6 column-bipolar" >
  <h2 >How to deal with Bipolar?</h2>
  <h4 >In order to try and deal with Bipolar you should once again seek help from the doctors as soon as possible,
    so that they can help prescribe you medicine to prevent these bipolar episodes, medicine which can treat the main
    symptoms of depression. Start to learn on what the triggers may possibly be and try stop the triggers from happening.
    If medicine doesn't work then it may need therapy help by having psychological treatments such as talking
    therapy. Also, by making lifestyle choices such as doing regular exercise, better sleeping oattern, a better diet and by doiign activitities that you enjoy.
  </h4>
  </div>
  </div>
  </div>
  <div class = "col-md-2"></div>
  </div>
  
  <footer class="text-center mt-4 pt-4"> <!-- the start of my footer. centering the text and applying margin top and padding top -->
        <small>Copyright &copy; </small> <!-- adding the Copyright text and logo at the bottom of my footer -->
</footer>