<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-uppercase"> <!-- the code for the start of my nav bar -->
    <a class="navbar-brand" href="/">Health Bud</a> <!-- referencing the home page base -->
    <button type="button" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
      data-toggle="collapse" data-target="#mobileMenu">
      <i class="fas fa-bars"></i>
    </button>
 <div class="collapse navbar-collapse" id="mobileMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="calender.html">Calender</a> <!-- the first nav link within my nav bar and its reference point -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="help.html">Guidance</a> <!-- the second nav link within my nav bar and its reference point -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href=".html">Videos</a> <!-- the third nav link within my nav bar and its reference point -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login.html">Log Out</a> <!-- the last nav link within my nav bar and its reference point -->
        </li>
      </ul>
    </div>
  </nav>

<section class="bodyContentContact"> <!-- the body class content for this specific page -->
<div clas="container"> <!-- the start of the container -->
  <h2 class="text-center pt-5"> Contact Me </h2> <!-- the header within my container and text-center and padding top -->
  <hr>
  <form action="https://formspree.io/daniel.smith-18@students.plymouth.ac.uk" method="POST"> <!-- the email which the form will send the emails submitted to -->
    {{> contactsForm}}
    {{!-- <div class="form-group">
       <label for="name">Your Name</label> <!-- text label -->
       <input class="form-control" type="text"  id="Name" placeholder="Your Name" > <!-- sets an input box  and placeholder just saves u having a heading above-->
</div> --}}
       {{!-- <div class="form-group">
          <label for="name">Your Email</label> <!-- text label -->
          <input class="form-control" type="text"  name="email" placeholder="Your Email" >
        </div>

         <div  class="form-group" >
         <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
       </div>

       <div class=form-send>
         <button class="btn-primary w-100" type="submit">Send</button>
  </form> --}}
  <div class="divider"></div>
    <div class="row">
        {{> contactsList}}
    </div>
</div>
<footer class="text-center mt-4 pt-4"> <!-- the start of my footer. centering the text and applying margin top and padding top -->
        <small>Copyright &copy; </small> <!-- adding the Copyright text and logo at the bottom of my footer -->
</footer>
</section>
{{!-- <footer class="text-center mt-4 pt-4"> <!-- the start of my footer. centering the text and applying margin top and padding top -->
        <small>Copyright &copy; </small> <!-- adding the Copyright text and logo at the bottom of my footer -->
</footer> --}}