<div class = "createbox" >
    <img src = "assets/logo.png" class = "logo1" >
    <h1>Create Account</h1>
    {{> signupForm }}
    {{!-- <form>
        <p> Create Username </p>
        <input type ="text" name="" placeholder= "Enter Username">
        <p> Create Password </p>
        <input type = "password" name = "" placeholder = "Password">
        <p> Re-enter Password </p>
        <input type = "password" name = "" placeholder = "Re-enter password">
        <input type ="submit" name = "" value ="Enter">
    </form>
    </div> --}}