<div class = "createbox" >
    <img src = "assets/logo.png" class = "logo1" >
    <h1>Reset Password</h1>
    <form>
        <p> Reset Password</p>
        <input type ="text" name="" placeholder= "Password">
        <p> Re-enter Password </p>
        <input type = "password" name = "" placeholder = "Re-enter password">
        <input type ="submit" name = "" value ="Enter">
    </form>
    </div>