
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-uppercase"> <!-- the code for the start of my nav bar -->
    <a class = "waves-effect waves-light btn btn-right" href = "/signout"></a>
 
   <img src= "assets/logo.png" class ="logo-nav" >

    <button type="button" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
      data-toggle="collapse" data-target="#mobileMenu">
      <i class="fas fa-bars"></i>
    </button>
 <div class="collapse navbar-collapse" id="mobileMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/calender">Calender</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Guidance</a> 
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Log Out</a> 
        </li>
      </ul>
    </div>
  </nav>
  </nav>

<div class="hero-image">
  <div class="hero-text">
    <h1 class ="welcome">Welcome to Health Bud!</h1>
    <p>Hello, {{ username }} </p>
    <p> We are here to help :)</p>
  </div>
</div>
<div class="row">
  <div class="col-md-3-centered">
    <p> Health Bud is an app which enables the user to keep track of appointments or events within the in-app calender,
        provides guidance for a heap of issues instead of having to browse yourself and provides a sense of positivity
        to help you're mindset while you're logged in and using this app. Health Bud welcomes you! </p>
  </div>
  <div class="column"></div>
</div>
<h3>We're all in this together!</h3>
 <section>
    <div class="container"> <!-- this  is the container which my columns go inside -->
      {{!-- <hr> --}}
        <div class="col-12-about3">
          <div class="card-group">
            <div class="col-lg-6 col-12 col-md-3">
              <div class="card cardBlue animated rollIn">
                <img src="assets/inspo2.png" class="card-img-top" width="600" height="400"> <!-- sourcing the main body image -->
                <div class="card-body">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 col-md-3">
              <div class="card cardBlue animated rollIn">
                <img src="assets/inspo.jpg" class="card-img-top" width="600" height="400">
                <div class="card-body">
                </div>
              </div>
            </div>
      </div>
    </div><!-- row close -->
    </div>
  </div> <!-- container close -->
</div>
</div>
</div>
<footer class="text-center mt-4 pt-4"> <!-- the start of my footer. centering the text and applying margin top and padding top -->
        <small>Copyright &copy; </small> <!-- adding the Copyright text and logo at the bottom of my footer -->
</footer>