<div class = "loginbox" >
    <img src = "assets/logo.png" class = "logo" >
    <h1 class = "loginhere">Login</h1>
    {{> signinForm }}
    <form>
        {{!-- <p> Username </p>
        <input type ="text" name="" placeholder= "Enter Username">
        <p> Password </p>
        <input type = "password" name = "" placeholder = "Enter Password">
        <input type ="submit" name = "" value ="Login" href = "/home"> --}}
        {{!-- <a href ="/forgottenpass" > Forgotten password?</a><br>
        <a href ="/create" > Create Account?</a> --}}
    </form>
    </div>