 <div class = "loginbox" >
   <div class = "row loginbox overfillno d-flex justify-content-center">
       <img src = "/assets/logo.png" class = "logo">
       <h1> Login Here </h1>
       {{> signinForm }}
       </div>
</div>
</div>

<script src = "js/script.js"></script>